*{
    margin:0;padding:0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background: transparent;
}

div {
    height:197px;
    width: 350px;
    background: linear-gradient(to right,#6AA8E2, #a8e26a, #e26aa8);
    background-size: 400% 400%;
    animation: animateLG 5s ease-in-out infinite;
    position: relative; 
    border-radius: 5px;
}

div::after{
    content:'';
    position: absolute; 
    top: 10px; 
    bottom: 10px; 
    left: 10px; 
    right: 10px; 
    background: white; 
}

@keyframes animateLG {
    0% {background-position: 0% 0%}
    12.5% {background-position: 50% 0%}
    25% {background-position: 50% 50%}
    37.5% {background-position: 100% 50%}
    50% {background-position: 100% 100%}
    62.5% {background-position: 50% 100%}
    75% {background-position: 50% 50%}
    87.5% {background-position: 0% 50%}
}